

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    
}

th {
    background-color: darkslateblue;
    color:white;
    font-weight:500;
}

.action {
    text-align: center;
}

.viewOrder-main-div{
    flex:1;
}

.pay-btn{
    border:1px solid white;
    border-radius:12px;
    width:5em;
    height:3em;
}

.pay-btn:hover{
    background-color:mediumslateblue;
    transition:0.2s ease-in-out;
}

.confirm-payment-div{
    height:16em;
    display:flex;
    flex-direction:column;
    gap:1em;
    justify-content:center;
    align-items:center;
    border: 1px solid black;
    border-radius:12px;
    padding:12px;
    width:15em;
    background-color:white;
}

.confirm-pay-btn {
    width: 85px;
    border: 1px solid black;
    border-radius: 6px;
    background-color: darkslateblue;
    color:white;
}


.confirm-pay-btn:hover{
    background-color:seagreen;
    transition:0.2s ease-in-out;
}

.confirm-container{
    position:fixed;
    width:100%;
    height:100vh;
    top:-100%;
    left:0;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:rgba(0,0,0,0.5)
}

.confirm-container.active{
    top:0;
    transition:0.5;
}

    .buttonss {
        display: flex;
        gap: 15px;
    }

.confirm-cancel-btn {
    width: 85px;
    border: 1px solid black;
    border-radius: 6px;
    background-color: darkred;
    color: white;
}

.vieworderInner{
    display:flex;
    justify-content:space-between;
}


.btnnn{
    border:1px solid white;
    border-radius: 12px;
    width:13em;
    padding:15px;
}

    .btnnn:hover {
        background-color: crimson;
        color:white;
        transition:0.2s ease-in-out ;
    }

.enterPay{
    font-weight:600;
}

