@inherits LayoutComponentBase
@using Bislerium.UserAuthentication
@using Bislerium.Pages.LoginPage

@if (userAuth.role == "admin" || userAuth.role == "staff")
{
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <main>
            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
}
else
{
    <Login/>
}


